<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Quentin">
	<title>MY FORM - Camelia Tech</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  </head>
  <body ng-app="pictureUploaderApp">
      
      <!-- FORM
================================================== -->
	<meta id="microadditionalType" itemprop="additionalType" content="Form" />
	<section id="form">
	<div class="container">
		<div class="starter-template">

	        <h1>MY FORM - Camelia Tech</h1>
	        <br/>

			<div class="row">

						<!-- UPLOADFILE -->
		        <div class="col-md-offset-3 col-md-3" ng-controller="UploadFileController" id="upload-file-container">

		        	<form ng-submit="uploadFile()">

		        		<label for="fileID">
		        			<img id="picture" src="images/default-logo.jpg" alt"uploadyourpicture" height="103" width="103"/>
		        		</label>

		        		<input type="file" file-model="myFile" id="fileID" accept="image/jpeg, image/png"/>
		        		
		        		<div class="row">
<!-- 									<i class="glyphicon glyphicon-chevron-up"></i>-->
									<button class="btn btn-primary" type="submit">Upload your picture</button>		 
								</div>
		        	</form>

		        </div>

		        <!-- USER FORM -->
		        <div class="col-md-3" ng-controller="AddInfoController">

			        <form name="userForm" ng-submit="addInfo(user)" novalidate>

			        	<!-- FIRST NAME -->
		  					<div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && userForm.firstName.$touched }">
		       				<input type="text" name="firstName" class="form-control" ng-model="user.firstName"  size="30" placeholder="First Name" required/>
		       				<p ng-show="userForm.firstName.$invalid && userForm.firstName.$touched" class="help-block">Your first name is required.</p>
		       			</div>

		       			<!-- LAST NAME -->
			       		<div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && userForm.firstName.$touched }">
		       				<input type="text" name="lastName" class="form-control" ng-model="user.lastName"  size="30" placeholder="Last Name" required/>
		       				<p ng-show="userForm.lastName.$invalid && userForm.lastName.$touched" class="help-block">Your last name is required.</p>
		       			</div>

			       		<!-- EMAIL -->
			       		<div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && userForm.firstName.$touched }">
			       			<input type="email" name="email" class="form-control" ng-model="user.email"  size="30" placeholder="Email" required/>
			       			<p ng-show="userForm.email.$invalid && userForm.email.$touched" class="help-block">Enter a valid email.</p>
			       		</div>

			       			<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>		       	
							</form>
										<span>{{users.length}} remaining</span>		
			    	</div>
			</div>
		</div>
	</div>
	</section>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <script src="app.js"></script>
  </body>
</html>
